/* Define the animation for showing text */
@keyframes show-text {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}

/* Define the animation for hiding text */
@keyframes hide-text {
  0% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* Apply animation to elements */
.animate-show-text {
  animation: show-text 2s forwards;
}

.animate-hide-text {
  animation: hide-text 1s forwards;
}
